<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>DateLife</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="http://datelife.org/default.css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33370470-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="upbg"></div>

<div id="outer">


	


	<div id="headerpic"></div>

	
	<div id="menu">
		<!-- HINT: Set the class of any menu link below to "active" to make it appear active -->
		<ul>
			<li><a href="http://datelife.org">Home</a></li>
			<li><a href="https://bitbucket.org/bomeara/datelife">Source code</a></li>
			<li><a href="http://datelife.org/faq.php">FAQ</a></li>
			<li><a href="http://datelife.org/contact.php">Contact</a></li>
			<li><a href="http://phylotastic.org">Phylotastic</a></li>
			<li><a href="http://datelife.org/submit.php">Submit</a></li>
			<li><a href="http://datelife.org/sources.php">Source papers</a></li>

		</ul>
	</div>
	<div id="menubottom"></div>

	
	<div id="content">

		<!-- Normal content: Stuff that's not going to be put in the left or right column. -->
		<div id="normalcontent">
			<div class="contentarea">
				<!-- Normal content area start -->


